/* Estilos base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    background-image: url(../img/bg_pattern.png);
    background-size: 800px;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.47));
}

.row {
    display: flex;
}

.column-3 {
    flex: 0 0 30%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

.column-9 {
    flex: 0 0 70%;
}

form {
    max-width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select, input[type="file"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #55608f;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #3347a0;
}

.content-gestion-content {
    display: flex;
    flex-wrap: wrap;
}

.content-gestion-content-item {
    transition: 0.1s;
    margin: 0.5%;
    flex: 0 0 calc(20% - 1%);
    max-height: 50% !important;
    float: left;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.content-gestion-content-item:hover {
    box-shadow: 0 0 20px white;
    border-radius: 10px;
    background-color: white;
}

.content-gestion-content-item-image {
    width: 100%;
    height: 80%;
}

.content-gestion-content-item-image img {
    width: 100%;
    height: 100%;
    float: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content-gestion-content-item-bottom {
    width: 100%;
    position: absolute;
    bottom: 2px;
    text-align: center;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header {
    margin: 10px 0;
    height: 90px;
    padding-left: 5%;
}

.header-left {
    background-image: url(../img/header_left.png);
}
.header-right {
    background-image: url(../img/header_right.png);
}
.header-left,
.header-right {
    width: 60px;
    height: 100%;
    float: left;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header-center {
    width: 80%;
    height: 100%;
    background-image: url(../img/header_center.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float:left;
    text-align: center;
    padding-top: 15px;
}

.header-center h1 {
    user-select: none;
    padding: 0 12px;
    border-radius: 10px;
    box-shadow: inset 0px 6px 10px 0px #ffffff92,
                inset 0px -6px 5px 0px #0000005e;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(120, 120, 120), 
                0px 2px rgb(120, 120, 120), 
                2px 0px rgb(120, 120, 120), 
                -2px -2px rgb(255, 174, 174),
                0px -2px rgb(255, 174, 174),
                -2px 0px rgb(255, 174, 174);
    text-transform: uppercase;
}

.header-center-index {
    float: left;
    margin-left: 10%;
}
.header-center-historic {
    float: left;
    margin-left: 16%;
}
.header-center-exit {
    float: right;
    margin-right: 10%;
}

.header-center h1:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.258);
    color: rgb(220, 220, 220);
}

.container-header {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.47));
}
.content-gestion-header {
    display: flex;
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center; /* Centra verticalmente */
}

.content-gestion-header-title {
    flex: 1; /* Ocupa el espacio disponible */
    padding-top: 0.5%;
    background-color: white;
    cursor: default;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.content-gestion-content {
    margin: 1% !important;
    width: 98%;
    height: 81%;
    margin-bottom: 15px; /* Margen inferior de 15px */
}

.content-gestion-content-item {
    transition: 0.1s;
    margin: 0.5%;
    flex: 0 0 19%;
    max-height: 50% !important;
    float: left;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.content-gestion-content-item:hover {
    box-shadow: 0 0 20px white;
    border-radius: 10px;
    background-color: white;
}

.content-gestion-content-item-image {
    width: 100%;
    height:80%;
}

.content-gestion-content-item-image img {
    width:100%;
    height:100%;
    float: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content-gestion-content-item-bottom {
    width: 100%;
    position: absolute;
    bottom: 2px;
    text-align: center;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content-gestion-header-return {
    flex: 0 0 15%; /* Ocupa un 15% del ancho */
    padding-top: 0.5%;
    background-color: rgb(100, 158, 229);
    cursor: pointer;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#resultadopaginacion {
    text-align: center;
}

#pagination a {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    background-color: #3498db; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
}

#pagination a.active {
    background-color: #2980b9; /* Color de fondo del botón activo */
}


@media only screen and (max-width: 1200px) {
    .header-center-index {
        margin-left: 6%;
    }
    .header-center-exit {
        margin-right: 6%;
    }
}

@media only screen and (max-width: 900px) {
    .header-center-index {
        margin-left: 2%;
        margin-top: 1%;
    }
    .header-center-exit {
        margin-right: 4%;
        margin-top: 1%;
    }
}

@media only screen and (max-width: 800px) {
    .header-center-index {
        margin-left: 0;
        margin-top: 4%;
    }
    .header-center-exit {
        margin-right: 0;
        margin-top: 4%;
    }
}

@media only screen and (max-width: 600px) {
    .header-center-index {
        margin-left: 0;
        margin-top: 6%;
    }
    .header-center-exit {
        margin-right: 0;
        margin-top: 6%;
    }
}
