/* Estilos adicionales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-image: url(../img/bg_pattern.png);
}

.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    margin: 45px;
    display: flex;
}

#frm-register {
    flex: 1; /* Ocupa el 25% del ancho */
    max-width: 25%;
    margin-right: 20px;
}

#cnt-crud {
    flex: 4; 
    max-width: 85%;
}

form {
    width: 100%;
    max-width: none; /* Restablece el ancho máximo para que ocupe el 100% de #frm-register */
    margin: auto;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para hacer la tabla más atractiva */
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

thead th {
    background-color: #55608f;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #e8e8e8;
}

#resultado tr {
    height: 50px;
}

/* Estilos para combinar los botones en la columna "acciones" */
.acciones-btns {
    display: flex;
    justify-content: space-between;
}

.acciones-btns button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.acciones-btns button:nth-child(1) {
    background-color: #5cb85c;
    color: #fff;
}

.acciones-btns button:nth-child(2) {
    background-color: #d9534f;
    color: #fff;
}

/* Estilos paginación */
#resultadopaginacion {
    text-align: center;
    margin-top: 20px;
}

#resultadopaginacion button {
    margin: 0 5px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #55608f;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#resultadopaginacion button:hover {
    background-color: #3347a0;
}

#btn-enviar{
    background-color: #55608f;
}

#btn-enviar:hover{
    background-color: #3347a0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 !important;
    padding: 0 !important;
}

/* Clases específicas para columnas */
.column-1 { flex: 0 0 100%;}

.header {
    margin: 10px 0;
    height: 90px;
    padding-left: 5%;
}

.header-left {
    background-image: url(../img/header_left.png);
}
.header-right {
    background-image: url(../img/header_right.png);
}
.header-left,
.header-right {
    width: 60px;
    height: 100%;
    float: left;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header-center {
    width: 80%;
    height: 100%;
    background-image: url(../img/header_center.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float:left;
    text-align: center;
    padding-top: 15px;
}

.header-center h1 {
    user-select: none;
    padding: 0 12px;
    border-radius: 10px;
    box-shadow: inset 0px 6px 10px 0px #ffffff92,
                inset 0px -6px 5px 0px #0000005e;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(120, 120, 120), 
                0px 2px rgb(120, 120, 120), 
                2px 0px rgb(120, 120, 120), 
                -2px -2px rgb(255, 174, 174),
                0px -2px rgb(255, 174, 174),
                -2px 0px rgb(255, 174, 174);
    text-transform: uppercase;
}

.header-center-index {
    float: left;
    margin-left: 10%;
}
.header-center-historic {
    float: left;
    margin-left: 16%;
}
.header-center-exit {
    float: right;
    margin-right: 10%;
}

.header-center h1:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.258);
    color: rgb(220, 220, 220);
}

.container-header {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.47));
}

.content-gestion-header-return {
    padding-top: 0.5%;
    background-color: rgb(100, 158, 229);
    cursor: pointer;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

