/* Estilos adicionales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-image: url(../img/bg_pattern.png);
}

.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    margin: 45px;
    display: flex;
}

#frm-register {
    flex: 1; /* Ocupa el 25% del ancho */
    max-width: 25%;
    margin-right: 20px;
}

#cnt-crud {
    flex: 3; /* Ocupa el 75% del ancho */
    max-width: 75%;
}

form {
    width: 100%;
    max-width: none; /* Restablece el ancho máximo para que ocupe el 100% de #frm-register */
    margin: auto;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para hacer la tabla más atractiva */
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

thead th {
    background-color: #55608f;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #e8e8e8;
}

#resultado tr {
    height: 50px;
}

/* Estilos para combinar los botones en la columna "acciones" */
.acciones-btns {
    display: flex;
    justify-content: space-between;
}

.acciones-btns button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.acciones-btns button:nth-child(1) {
    background-color: #5cb85c;
    color: #fff;
}

.acciones-btns button:nth-child(2) {
    background-color: #d9534f;
    color: #fff;
}

/* Estilos paginación */
#resultadopaginacion {
    text-align: center;
    margin-top: 20px;
}

#resultadopaginacion button {
    margin: 0 5px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #55608f;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#resultadopaginacion button:hover {
    background-color: #3347a0;
}

#btn-enviar{
    background-color: #55608f;
}

#btn-enviar:hover{
    background-color: #3347a0;
}
